* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: "Arial","Helvetica","Poppins", sans-serif;
  font-weight: 1em;
}

.navbar {
  background-color: #dcd2c8;
  padding-bottom: 1.5em;
}

nav{
  padding: 0.5em;
  margin:0;
  width: 100%;
  height: 5vh;
  font-family: Poppins;
  font-weight: 400;
}

.logo{
  float: left;
  padding: 0.5em;
  margin-left: 1em;
  margin-top: 0.5em;
}

.logo a {
  color: #6d5946;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125em;
  letter-spacing:0em;
  text-decoration:none;
}

nav ul{
  float: right;
}

nav ul li{
  display: inline-block;
  float: left;
}

nav ul li:not(:first-child){
  margin-left: 2.25em;
}

nav ul li:last-child{
  margin-right:1.5em;
}

nav ul li a{
  display: inline-block;
  outline: none;
  color: #8c725a;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.875em;
  letter-spacing: 0.075em;
  font-weight: 600;
  position: relative;
}

nav ul li a.nav-link:before, #interactive-elements .in-text-element a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125em;
  bottom: 0;
  left: 0;
  background-color: #6d5946;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

nav ul li a.nav-link:hover:before, #interactive-elements .in-text-element a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

@media screen and (max-width: 864px){
  .logo{
    padding: 0;
    margin-top: 1em;
    margin-left:1.5em;
  }

  .nav-wrapper{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: -1;
    background: #dcd2c8;
    opacity:0;
    transition: all 0.2s ease;
  }

  .nav-wrapper ul{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-wrapper ul li{
    display: block;
    float: none;
    width: 100%;
    text-align: left;
    margin-bottom: 0.625em;
  }

  .nav-wrapper ul li:nth-child(1) a{
    transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a{
    transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a{
    transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a{
    transition-delay: 0.5s;
  }

  .nav-wrapper ul li:nth-child(5) a{
    transition-delay: 0.6s;
  }

  .nav-wrapper ul li a{
    padding: 0.625em 1.5em;
    opacity: 0;
    color: #8c725a;
    font-size: 0.875em;
    font-weight: 600;
    letter-spacing: 0.075em;
    transform: translateX(-1.25em);
    transition: all 0.2s ease;
  }

  .nav-btn{
    position: fixed;
    right: 0.625em;
    top: 0.75em;
    display: block;
    width: 3em;
    height: 3em;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i{
    display: block;
    width: 1.25em;
    height: 0.125em;
    background: #8c725a;
    border-radius: 0.125em;
    margin-left: 0.875em;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 1em;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 0.25em;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 0.25em;
  }
}

#nav:checked + .nav-bth {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i{
  background: #8c725a;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1){
  transform: translateY(0.375em) rotate(135deg);
}

#nav:checked + .nav-btn i:nth-child(2){
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3){
  transform: translateY(-0.375em) rotate(45deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}

h1{
  font-size:2em;
}

h2{
  font-size:1.5em;
}

h3{
  font-size:1.25em;
}

h4{
  font-size: 1em;
}

h5{
  font-size: 0.75em;
}

h5{
  font-size: 0.5em;
}

body{
  margin:0;
  padding:0;
  width: 100%;
  height: 100vh;
  font-family: Poppins;
  font-weight: 400;
}

.banner-index h1{
  margin:2em;
  text-align: center;
  color: #6d5946;
  font-family:"Trebuchet MS";
  /* text-transform: uppercase; */
  letter-spacing: 0.25em;
  font-weight: 600;
  margin-bottom: 3em;
}

#interactive-elements {
  margin: 2em;
}

#interactive-elements h2{
  color: #8c725a;
  font-family:"Trebuchet MS";
  text-align: center;

}

.in-text-element, .button-element, .input-element, .radio-element, .image-element{
  margin-bottom: 5em;
}

#interactive-elements h3{
  color: #af9883;
  letter-spacing: 0.1em;
}

#interactive-elements .number{
  color: #cdbfb1;
}

#interactive-elements h4{
  color: #7c6650;
  letter-spacing: 0.09em;
}

#interactive-elements p{
  color: #af9883;
}

#interactive-elements code{
  color: #6d5946;
  background-color: #f5f2ef;
  padding: 1em;
  display: block;
}

#interactive-elements .in-text-element a{
  display: inline-block;
  outline: none;
  color: #af9883;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.875em;
  letter-spacing: 0.075em;
  font-weight: 600;
  position: relative;
}

.button {
  padding: 1rem 2rem;
  margin: 0 ;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  position: relative;
  left: 0;
  transition: 0.5s;
  color: #8c725a;
  text-decoration: none;
  border: 0.1875em solid #af9883;
}

.button:hover{
  background-color: #af9883;
  height: 1em;
  width: 0.5em;
  transition: 0.5s;
  color: white;
}

.button:focus{
  opacity: 0.5;
}

input[type=search] {
  width: 20em;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
  border: 0.125em solid #af9883;
  border-radius: 1.875em;
  height: 2em;
  font-size: 0.9375em;
  color: #6d5946;
  font-weight: 400;
  padding-left: 0.9375em;
  padding-right: 1.25em;
}

input[type=search]:hover {
  background-color: #f5f2ef;
}

input[type=search]:focus, input[type=forminfo]:focus {
  width: 30em;
  background-color: #f5f2ef;
}

.radio {
  display: block;
  position: sticky;
  padding-left: 1.5625em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #6d5946;
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0.1875em;
  height: 0.9375em;
  width: 0.9375em;
  background-color: #dcd2c8;
  border-radius: 50%;
}

.radio:hover input~.checkmark {
  background-color: #8c725a;
}

.radio input:checked~.checkmark {
  background-color: #6d5946;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked~.checkmark:after {
  display: block;
}

.radio .checkmark:after {
  top: 0.3125em;
  left: 0.3125em;
  width: 0.3125em;
  height: 0.3125em;
  border-radius: 50%;
  background: white;
}

.image-element img{
  max-width: 30em;
  max-height: 22.5em;
}

.image-element img:hover{
  opacity: 0.5;
  transition: 0.5s;
}
